<!--********************************************************************
* Copyright© 2000 - 2020 SuperMap Software Co.Ltd. All rights reserved.
*********************************************************************-->
<!--<div class="icl-contact">-->
    <!--<div class="contact-main">-->
        <!--<div class="home-link">-->
            <!--<a href="{{nav.path}}./download/download.html" target="_blank">下载</a>-->
            <!--<a href="{{nav.path}}./faq/faq.html" target="_blank">常见问题</a>-->
            <!--<a href="http://www.supermap.com.cn" target="_blank">超图官网</a>-->
            <!--<a href="https://www.supermapol.com" target="_blank">超图在线GIS平台</a>-->
            <!--<a href="http://www.dituhui.com" target="_blank">地图慧</a>-->
            <!--<a href="http://support.supermap.com.cn" target="_blank">超图技术资源中心</a>-->
            <!--<a href="{{nav.path}}./books/modern-web-gis-in-action" target="_blank">现代WebGIS开发</a>-->
        <!--</div>-->
        <!--<div class="contact-link">-->
            <!--<span>联系我们：</span>-->
            <!--<span>电话 400-8900-866</span>-->
            <!--<span style="margin-left:10px">-->
                <!--WebGIS中文技术圈QQ群-->
                <!--459804186（已满）-->
                <!--<a style="color:#E14D57" target="_blank"-->
                    <!--href="https://jq.qq.com/?_wv=1027&k=5PtCyDM">636732377</a>（点击链接加入群）-->
            <!--</span>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="icl-line"></div>
<div class="icl-copyright">版权所有 © 2000-2020 北京超图软件股份有限公司 京ICP备11032883号-8
    京公网安备11010502008721 甲测资字11002074
</div>
