<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>vue退线分析</title>
  <!--  引入 Cesium vue-->
  <link href="../../Build/Cesium/Widgets/widgets.css" rel="stylesheet">
  <script src="../../Build/Cesium/Cesium.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
  <!--  引入组件库 -->
  <link href="./styles/vue-iclient3d-webgl.min.css" rel="stylesheet">
  <script src="./js/vue-iclient3d-webgl.min.js"></script>

</head>

<body>
  <div id="app">
    <sm-viewer :s3m-scps="scps">
      <sm3d-back-line-analysis :spatial-analysis-url="spatialAnalysisUrl" :query-url="queryUrl">
      </sm3d-back-line-analysis>
    </sm-viewer>
  </div>


  <script>
    let vm = new Vue({
      el: '#app',
      data: {
        queryUrl: "http://www.supermapol.com/realspace/services/spatialAnalysis-data_all/restjsr/spatialanalyst/datasets/%E5%A2%99%40%E4%B9%9D%E5%8F%B7%E6%A5%BC%E6%8B%89%E4%BD%8E/spatialquery3d.json",
        spatialAnalysisUrl: "http://www.supermapol.com/realspace/services/spatialAnalysis-data_all/restjsr/spatialanalyst/geometry/3d/buffer.json",
        cameraPosition: {
          destination: new Cesium.Cartesian3.fromDegrees(
            115.00569784240564,
            39.010694131402644,
            234.8315778961851
          ),
          orientation: {
            heading: 2.205646,
            pitch: -0.399956,
            roll: 0.0
          }
        },
        scps: [{
            url: URL_CONFIG.SCENE_GTC_GROUND,
            options: {
              name: "ground"
            }
          },
          {
            url: URL_CONFIG.SCENE_GTC_LWINDOW9,
            options: {
              name: "日照窗户"
            }
          },
          {
            url: URL_CONFIG.SCENE_GTC_LWALL9,
            options: {
              name: "日照墙"
            }
          },
          {
            url: URL_CONFIG.SCENE_GTC_BUILDIBG,
            options: {
              name: "original"
            }
          },
          {
            url: URL_CONFIG.SCENE_GTC_HILL,
            options: {
              name: "hill"
            }
          }
        ]
      },
      mounted() {
        scene.camera.setView(this.cameraPosition);
      }
    });

  </script>
</body>

</html>
