<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>地形分析</title>
  <!--  引入 Cesium vue-->
  <link href="../../Build/Cesium/Widgets/widgets.css" rel="stylesheet">
  <script src="../../Build/Cesium/Cesium.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
  <!--  引入组件库 -->
  <link href="./styles/vue-iclient3d-webgl.min.css" rel="stylesheet">
  <script src="./js/vue-iclient3d-webgl.min.js"></script>
</head>

<body>
  <div id="app">

    <sm-viewer :scene-url="URL">
      <sm3d-terrain-operation></sm3d-terrain-operation>
      <sm3d-terrain-flood></sm3d-terrain-flood>
      <sm3d-terrain-slope></sm3d-terrain-slope>
      <sm3d-terrain-isoline></sm3d-terrain-isoline>
    </sm-viewer>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        URL: "http://www.supermapol.com/realspace/services/3D-ZF_normal/rest/realspace",
      },
      mounted() {
        //bingmap
        // viewer.imageryLayers.addImageryProvider(
        //   new Cesium.BingMapsImageryProvider({
        //     url: "https://dev.virtualearth.net",
        //     mapStyle: Cesium.BingMapsStyle.AERIAL,
        //     key: URL_CONFIG.BING_MAP_KEY
        //   })
        // );
      }
    })

  </script>
</body>

</html>
