.navcontentfixed {
    width: 1380px;
    margin: 0 auto;
}
.faq-ontainer {
    margin-bottom: 100px;
}
.faq-ontainer h2 {
    font-size: 32px;
    max-width: 700px;
    margin-left: 0;
    margin-bottom: 20px;
    margin-top: 50px;
    color: #171c3d;
}

.faq-ontainer h3 {
    font-size: 22px;
    margin-left: 0;
    margin-top: 50px;
}

.faq-ontainer p {
    font-size: 16px;
    font-weight: 100;
    margin-left: 0;
    margin-bottom: 20px;
}

.icl-docs-footer {
    border-top: 1px solid #ddd;
}

.icl-docs-copyright {
    color: #7d7d7d;
    font-size: 13px !important;
    text-align: center;
    height: 54px;
    line-height: 54px;
}
